<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Leituras</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <h1>&#128038; Registros de Leituras de Aves</h1>
    <a th:href="@{/censo}" class="button">Voltar ao Formulário de Censo</a>
</header>

<hr>

<table border="1">
    <tr th:each="item : ${leituras}">
    <thead>
    <tr>
        <th>ID Leitura</th>
        <th>Espécie</th>
        <th>Contagem</th>
        <th>ID Censo Associado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="leituras : ${leituras}">
        <td th:text="${leituras.id}">1</td>
        <td th:text="${leituras.especie}">Albatroz-de-sobrancelha</td>
        <td th:text="${leituras.contagem}">5</td>

        <td th:text="${leituras.censo != null ? leituras.censo.id : 'N/A'}">100</td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/censo/novo}">Adicionar Novo Censo</a>

</body>
</html>